.jumbotron
      .container
        .row
                .col-md-7
                h1 Computer Not Working!
                p
                        | Is your computer running slow? Or maybe not at all? We can fix it. Pick up the phone and give us a call.
                p
                        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
                .col-md-5
                        img(src='images/mouse.jpg')