doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/bootstrap.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
    include ./includes/navbar.jade
    // Main jumbotron for a primary marketing message or call to action
    include ./includes/jumbotron.jade
    .container
      block content

      hr
      footer
        p © 2016 Company, Inc.
    // /container

